:root {
    --uiBg: #a7f3d0;
    --fontColor: white;
    --uiFont: 'Poppins', sans-serif;
    --contentCont: 'Noto Sans', sans-serif;

    --bgColor: #f1f5f9;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background-color: var(--bgColor);
    
}

.fixedContainer {
    font-family: var(--uiFont);
    display:flex;
    justify-content: space-between;
    background: var(--uiBg);
    height: 40px;
    padding: 15px;
}
.fixedContainer > a {
    display:flex;
}

.fixedUi {
    gap: 40px;
    padding: 0;
}

.fixedUi > a, .fixedContainer > a {
    text-decoration: none;
    color: inherit;
    
    
}

.fixedLogo, .fixedUi > a {
    display:flex;
    justify-content: center;
    align-items: center;
}

li > p, .fixedLogo > p {
    margin: 0;
}

.fixedLogo, .fixedUi, .fixedUi > a > li {
    display:flex;
    margin: 0;

    list-style-type: none;
}

