:root {
    --uiBg: #a7f3d0;
    --fontColor: white;
    --uiFont: 'Poppins', sans-serif;
    --contentFont: 'Noto Sans', sans-serif;

    --bgColor: #f1f5f9;
}

.hidden {
    visibility: hidden;
}

label + div {
    display:flex;
    flex-direction: column;
}

.errorMsg {
    font-size: 12px;
    color: red;
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#e2e8f0, #f1f5f9, 
    #f8fafc, var(--bgColor));
}

html, body {
    margin: 0;
    background-color: var(--bgColor);
    
    display:flex;
    flex-grow: 1;

    width: 100%;
    
}

.fixedContainer {
    z-index: 9999;
    font-family: var(--uiFont);
    display:flex;
    justify-content: space-between;
    background: var(--uiBg);
    height: 40px;
    padding: 15px;

    flex-grow: 1;

    position: fixed;
    width:100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}
.fixedContainer > a {
    display:flex;
}

.fixedUi {
    gap: 40px;
    padding: 0;
    align-items: center;
}

.fixedUi > a, .fixedContainer > a {
    text-decoration: none;
    color: inherit;
    
    
}

.fixedUi > button {
    display:flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;
    border: 0;
    padding: 0;

    background-color: inherit;
    font-family: inherit;
    font-size: inherit;

    cursor: pointer;
    
}

.fixedUi > button:active {
    transform: scale(1.1);
}

.fixedLogo, .fixedUi > a, .fixedUi > button > li {
    display:flex;
    justify-content: center;
    align-items: center;
}

li > p, .fixedLogo > p {
    margin: 0;
}

.fixedLogo, .fixedUi, .fixedUi > a > li {
    display:flex;
    margin: 0;

    list-style-type: none;
}

.cardContainer {
    border: 1px solid black;
    border-radius: 8px;
    margin: 40px 50px 50px 50px;
    flex:1;
    display:grid;
    gap: 8px;
    /*grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));*/
    grid-template-columns: repeat(auto-fill, clamp(160px, 10%, 200px));
    grid-template-rows: 1fr 1fr;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    padding: 40px;
    background-color: transparent;
    
}

.addContainer {
    border: 1px solid black;
    margin: 40px 50px 50px 50px;
    border-radius: 8px;
    padding: 40px;

    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}

.addContainer > form {
    display:flex;
    flex-direction: column;
    gap:10px;
}

form > div {
    display:flex;
    gap:10px;
}

.contentContainer {
    display:flex;
    margin-top: 40px;
    width: 100%;
    
}

.card {
    padding: 10px;
    margin: 0;
    border: 1.5px solid black;
    display:flex;
    flex-direction: column;
    width:160px;

    justify-content: center;
    align-items: center;

    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    
}

.bookTitle {
    font-family: var(--contentFont);
    font-size: 14px;
    font-weight: bold;
    height:30px;
    text-align: center;
}

.cardCover {
    height:160px;
    width: 120px;
}

.card > label {
    font-family: var(--contentFont);
    display:flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

.card > button {
    font-size: 12px;
    font-family: var(--uiFont);
}

.pagesTxt {
    font-family: var(--contentFont);
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.read::before {
    position: absolute;
    font-family: var(--contentFont);
    color: red;
    content: 'Read';
    font-size: 12px;
    font-weight: bold;
    top:0px;
    right:0px;

    text-shadow: 0px 1px 1px red;
    transform: rotate(23deg);
}


